name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Xcode ${{ matrix.xcode }} / ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        include:
          - os: macos-13     # x86_64 (Intel)
            xcode: 15.2      # Swift 5.9.2
          - os: macos-14     # arch64 (Apple Silicon)
            xcode: 15.3      # Swift 5.10
          - os: macos-latest # arch64 (Apple Silicon)
            xcode: 16.2      # Swift 6.0

    steps:
      - uses: actions/checkout@v4

      - name: Select Xcode version ${{ matrix.xcode }}
        run: |
          sudo xcode-select -s /Applications/Xcode_${{ matrix.xcode }}.app
          xcodebuild -version

      - name: Build
        run: swift build -v

      - name: Run tests
        run: swift test -v
